<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /cos30043/s101580150/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /cos30043/s101580150/index.html [L]
</IfModule>
